.body {
    margin-left: 200px;
    width: 1170px;
    height: 400px;
    display: flex;
    justify-content: space-between;
}

.item {
    width: 170px;
    height: 283.96px;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)),;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 18px;
    border: solid 3px black;
    border-radius: 10px;
}

